name: TUF-on-CI create Signing events

on:
  schedule:
    - cron:  '17 1,7,13,19 * * *'
  workflow_dispatch:

permissions: {}

jobs:
  create-signing-events:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write' # for committing to signing event branch
      actions: 'write' # for dispatching signing event workflow
    steps:
      - name: Create signing events for offline version bumps
        uses: theupdateframework/tuf-on-ci/actions/create-signing-events@ecbe81ad94615bfb2d133a022db383c80d782038 # v0.4.0
        with:
          token: ${{ secrets.TUF_ON_CI_TOKEN || secrets.GITHUB_TOKEN }}
