name: TUF-on-CI repository tests

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '17 4,10,16,22 * * *'
  pull_request:
    paths: ['.github/workflows/*']

permissions: {}

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for checking out the repository
    steps:
      - name: Smoke test TUF-on-CI repository with a TUF client
        uses: theupdateframework/tuf-on-ci/actions/test-repository@daa76c3dbf011b70f9fb01dbb989a27bbd2bd20d # v0.19.0

  update-issue:
    runs-on: ubuntu-latest
    needs: [smoke-test]
    # During workflow_call, caller updates issue. During pull_request, issue updates are not needed
    if: always() && !cancelled() && github.workflow == 'TUF-on-CI repository tests' && github.event_name != 'pull_request'
    permissions:
      issues: write # for modifying Issues
      contents: read # for checking out the repository
    steps:
      - name: Update the issue for the workflow
        uses: theupdateframework/tuf-on-ci/actions/update-issue@daa76c3dbf011b70f9fb01dbb989a27bbd2bd20d # v0.19.0
        with:
          token: ${{ secrets.TUF_ON_CI_TOKEN || secrets.GITHUB_TOKEN }}
          success: ${{ !contains(needs.*.result, 'failure') }}
